<div class="container">
  <form class="sign-in-form" [formGroup]="singIntForm" autocomplete="off" (ngSubmit)="formSubmit$.next">
    <h2>Sign in</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username" formControlName="username" />
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-checkbox formControlName="remember">Remember me</mat-checkbox>
    </div>
    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="singIntForm.invalid">Register</button>
    </div>
  </form>
</div>
